<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        form{
            text-align: center;
            margin-bottom: 30px;
        }
        body{
            background-color:honeydew;
        }
    </style>
</head>
<body>
    <h2 style="text-align: center;">Ashutoshsingh DEV089</h2>
    <form action="/sqltasks/dynamicquery/?page=1" method="get">
        <label for="sqlinput">Enter a Valid SQL query :</label>
        <input type="text" id="sqlinput" name="sqlinput">
        <input type="submit" name="" id="" value="Submit">
    </form>
</body>
</html>