<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        form{
            margin: auto;
        }
    </style>
</head>
<body>
    <form action="/sqltasks/advancedsearch" method="get">
        <label for="searchby">Search By :</label>
        <input type="text" name="searchby">
        <input type="submit" value="GO">
        <input type="button" value="Show more" onclick="handleclick()">
    </form>
</body>
</html>