<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        tr,td{
            border: 1px solid black ;
        }
        table{
            border-collapse: collapse;
            margin: auto;
        }
    </style>
</head>
<body>
      <table id="table">
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Update Data</td>
        </tr>
        <% for(let i=0 ; i<empdata[0].length ; i++) { %>
        <tr>
            <td><%=empdata[0][i].emp_id %></td>
            <td><%=empdata[0][i].fname %></td>
            <td><a href="/update-form/<%= empdata[0][i].emp_id  %>">Update Data</a></td>
        </tr>
        <% } %>
      </table>
</body>
</html>