<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('./partials/input') %>
    <% if((result.length)!= 0 ){%> 
    <%- include('./partials/output',{result,sql2}) %>
    <%- include('./partials/componentDyna',{l,sql2,pages}) %>
    <% } %>
</body>
</html>