<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanks Page</title>
    <style>
        tr{
            border: 1px solid white ;
background-color:darkkhaki;        }
        td{
            border: 1px solid black;
            width: 250px;
            height: 40px;
            text-align: center;
        }
        .header{
              background-color: cadetblue;
        }
        table{
            border-collapse: collapse;
            margin: auto;
            margin-top: 50px;
        }
        body{
            background-color:#f3f0e0;
        }
        a{
            color:blueviolet
        }
        h2{
            text-align: center;
        }
        #logout{
            background-color: blue;
            color: white;
            padding: 10px;
            border-radius: 8px;
            float: right;
            text-decoration: none;

        }
    </style>
</head>
<body>
    <h2>Tomar Ashutoshsingh DEV089</h2>
    <h2>Welcome to home page</h2>
    <a href="/logout" id="logout">Logout</a>
    <table>
        <tr class="header">
            <td>Name of tasks</td>
            <td>View</td>
        </tr>
        <tr>
            <td>Event Table</td>
            <td><a href="jstasks/eventtable">Go</a></td>
        </tr>
        <tr>
            <td>Kuku Cube</td>
            <td><a href="jstasks/kukucube">Go</a></td>
        </tr>
        <tr>
            <td>TicTacToe</td>
            <td><a href="jstasks/tictactoe">Go</a></td>
        </tr>
        <tr>
            <td>Dynamic Table</td>
            <td><a href="jstasks/rowcolumn">Go</a></td>
        </tr>
        <tr>
            <td>Sorting</td>
            <td><a href="jstasks/sorting">Go</a></td>
        </tr>
        <tr>
            <td>Student List</td>
            <td><a href="sqltasks/studentdata">Go</a></td>
        </tr>
        <tr>
            <td>Attendance List</td>
            <td><a href="sqltasks/attendancegrid">Go</a></td>
        </tr>
        <tr>
            <td>Exam Data with Result</td>
            <td><a href="sqltasks/examdata">Go</a></td>
        </tr>
        <tr>
            <td>Dynamic Query</td>
            <td><a href="sqltasks/dynamicquery">Go</a></td>
        </tr>
        <tr>
            <td>Advanced Search</td>
            <td><a href="sqltasks/advancedsearch">Go</a></td>
        </tr>
        <tr>
            <td>Delimeter Search</td>
            <td><a href="/sqltasks/delimetersearch">Go</a></td>
        </tr>
        <tr>
            <td>Form CRUD</td>
            <td><a href="/formcrud">Go</a></td>
        </tr>
        <tr>
            <td>Ajax Sanket Sir task</td>
            <td><a href="/jstasks/posts">Go</a></td>
        </tr>
        <tr>
            <td>State and Cities Ajax</td>
            <td><a href="/jstasks/statecities">Go</a></td>
        </tr>
        <tr>
            <td>Step wise Form using AJAX</td>
            <td><a href="/ajax">Go</a></td>
        </tr>
    </table>
</body>
</html>