<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanks Page</title>
    <style>
        h2{
            text-align: center;
        }
        tr,td{
            border: 1px solid black ;;
        }
        table{
            margin: auto;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
    <h2>Welcome to home page</h2>
    <table>
        <tr>
            <td>Event Table</td>
            <td><a href="jstasks/eventtable">Go</a></td>
        </tr>
        <tr>
            <td>Kuku Cube</td>
            <td><a href="jstasks/kukucube">Go</a></td>
        </tr>
        <tr>
            <td>TicTacToe</td>
            <td><a href="jstasks/tictactoe">Go</a></td>
        </tr>
        <tr>
            <td>Row & Column</td>
            <td><a href="jstasks/rowcolumn">Go</a></td>
        </tr>
        <tr>
            <td>Sorting</td>
            <td><a href="jstasks/sorting">Go</a></td>
        </tr>
    </table>
    <a href="/logout">Logout</a>
</body>
</html>